extends ./layout.pug
block contenido 
	div(align="center")
		if (sesion)
			h1 Bienvenido
		else 
			h1 Necesitas Iniciar Sesión
	div(class="slide")
		section(class="galeria" id="galeria")
			a(href=home  class="fot")
				img(src="/img/3583196_logo_debian.png" class="im" width="550" height="300")
			a(href="www.facebook.com/ChakaSuper"  class="fot")
				img(src="/img/nodejs.png" class="im" width="550" height="300")
			a(href="www.facebook.com/ChakaSuper"  class="fot")
				img(src="/img/mongodb.png" class="im" width="550" height="300")
			if (sesion)
				a(href="/exit"  class="fot")
					img(src="/img/enterprise-advanced.png" class="im" width="550" height="300")
			else
				a(href="/login"  class="fot")
					img(src="/img/enterprise-advanced.png"  class="im" width="550" height="300")
	
		