extends ../layout.pug
block contenido 
	div(align="center")
		h1 Bienvenido  #{user.username}
		div
			a(href="/descargar/cerradura.apk") Descargar APP 
			br
			span Descarga la aplicación movil para dispositivo android asi tendras un control mas rapido al ingresar al control.
		div
			a(href="/app/alter") Modificar datos de contacto
			br
			span Puedes verificar o modificar tus datos de contacto que seran utilizados para notificarte cualquier tipo de problema que surga con tu cuenta.
		div
			a(href="/app/control") Control 
			br
			span Si no cuentas con uns dispositivo android puedes acceder y controlarlo con este control, aun así es mas recomendable controlar con la aplicacion por cuestiones de seguridad.